.contentRoot {

  width: 720px;



  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-block: 20px 0;
    height: 500px;

    .fileItem {
      width: 120px;
      padding-inline: 10px;
      box-sizing: border-box;
      margin-bottom: 20px;
      position: relative;


      .checkbox {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 9;
      }

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }


      //.container {
      //  position: relative;
      //
      //
      //  .cover {
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    width: 100%;
      //    height: 100%;
      //  }
      //
      //
      //}

    }


  }

  //.content {
  //  width: 100%;
  //  height: 396px;
  //  padding-block: 20px;
  //
  //  .emptyContainer {
  //    display: flex;
  //    align-items: center;
  //    align-content: center;
  //    justify-content: center;
  //    height: 100%;
  //  }
  //
  //  .listContainer {
  //
  //  }
  //
  //
  //  //:global {
  //  //    .ant-row {
  //  //        width: 100%;
  //  //        height: 100%;
  //  //    }
  //  //}
  //
  //  .fileItem {
  //    //margin-bottom: 10px;
  //    cursor: pointer;
  //    height: 132px;
  //
  //
  //    .container {
  //      position: relative;
  //
  //      .checkbox {
  //        position: absolute;
  //        top: 10px;
  //        left: 10px;
  //        z-index: 99999;
  //      }
  //
  //      .cover {
  //        width: 110px;
  //        height: 110px;
  //        box-sizing: border-box;
  //        border: 2px solid transparent;
  //        display: flex;
  //        align-items: center;
  //        justify-content: center;
  //
  //        &:hover {
  //          border-color: #07c160;
  //        }
  //
  //        :global {
  //          .ant-image {
  //            width: 106px;
  //            height: 106px;
  //            display: flex;
  //            justify-content: center;
  //            align-items: center;
  //          }
  //
  //          .ant-image-img {
  //            max-width: 106px;
  //            max-height: 106px;
  //          }
  //        }
  //
  //      }
  //
  //    }
  //
  //    .name {
  //      white-space: nowrap;
  //      overflow: hidden;
  //      text-overflow: ellipsis;
  //      text-align: center;
  //    }
  //
  //    .uploadContainer {
  //      position: absolute;
  //      top: 0;
  //      left: 0;
  //      background-color: rgba(0, 0, 0, 0.5);
  //      z-index: 99;
  //      width: 100%;
  //      height: 100%;
  //      color: white;
  //      display: flex;
  //      justify-content: center;
  //      align-items: center;
  //      flex-direction: column;
  //
  //      :global {
  //        .ant-progress.ant-progress-circle .ant-progress-text {
  //          color: white;
  //        }
  //      }
  //    }
  //  }
  //
  //}


}
