
.groupRoot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .groupList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      padding-block: 8px;
      width: 100px;
      text-align: center;
    }

    li:hover, li.active {
      background-color: #cccccc;
    }

  }

  .addGroupContainer {
    cursor: pointer;
  }
}
